<template>
    
</template>

<script>

    import bModal from 'bootstrap-vue/es/components/modal/modal';
    import $ from 'jquery';
    import moment from 'moment';

    const URL_RESERVE = "/area-restrita/reserva";
    const RESERVE_STATUS_FREE = 1;
    const RESERVE_STATUS_BUSY = 2;
    export default {
        name: "the-reserve",

        components: {
            bModal,
        },
        data() {
            return {
                selected: {
                    date_time: null,
                    room_id: null
                },
                dateStart: null,
                dateEnd: null,
                rooms: {},
                reserves: [],
                config: {
                    eventClick: (event) => {

                        if(event.type == RESERVE_STATUS_FREE){
                            this.selected.date_time = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
                            this.selected.type = event.type;
                            this.showModalReserve();
                            this.getRooms(this.selected.date_time);
                        }else {
                            this.selected = event;
                            this.showModalReserved();
                        }
                    },
                    locale: 'pt_BR',
                    editable: false,
                    buttonText: {
                        today:  'Hoje',
                        month:  'Mês',
                        week:   'Semana',
                        day:    'Dia',
                    },
                    noEventsMessage: 'Nenhum agendamento encontrado.',
                    allDayText: 'Todo dia',
                    slotLabelFormat: 'HH:mm', // Formato do horário lateral na view de semana
                    slotEventOverlap: false, // Faz com que os eventos com horarios cruzados não fiquem sobre-postos
                },
                defaultView: 'month',
            }
        },
        methods: {
            eventCreated(event) {
                console.log('Clicado em', event);
            },
            showModalReserve() {
                $('#modalReserve').modal();
            },
            showModalReserved() {
                $('#modalReserved').modal();
            },
            closeModal() {
                $('#modalReserve').modal('hide');
            },
            closeModalReserved(){
                $('#modalReserved').modal('hide');
            },
            getRooms(dateTime) {
                axios.post(URL_RESERVE  + '/salas', {date_time: dateTime})
                .then((response) => {
                    this.rooms = response.data.rooms;
                })
                .catch(error => {

                });
            },
            saveReserve() {
                axios.post(URL_RESERVE  + '/salvar', {date_time: this.selected.date_time, room_id: this.selected.room_id})
                    .then((response) => {
                    alert('Reserve realizada com sucesso');
                    this.$refs.calendar.$emit('refetch-events');
                    this.closeModal();
                })
                .catch(error => {
                    alert('Ocorreu um erro ao reservar');
                });
            },
            cancelReserve() {
                axios.post(URL_RESERVE  + '/cancelar', {reserve_id: this.selected.reserve.id})
                    .then((response) => {
                        alert('Reserve cancelada com sucesso');
                        this.$refs.calendar.$emit('refetch-events');
                        this.closeModalReserved();
                    })
                    .catch(error => {
                            alert('Ocorreu um erro ao cancelar reserva');
                    });
            }
        },
        computed: {
            eventSources() {
                const self = this;
                return [
                    {
                        events(start, end, timezone, callback) {
                            let startHour = start._d.toISOString().split('T');
                            let endHour = end._d.toISOString().split('T');
                            let params = {
                                start: `${startHour[0]} ${startHour[1].split('.')[0]}`,
                                end: `${endHour[0]} ${endHour[1].split('.')[0]}`,
                            };
                            self.dateStart = params.start,
                            self.dateEnd = params.end,
                            axios.post(URL_RESERVE  + '/listar', params)
                            .then((response) => {
                                self.reserves = response.data.reserves;
                                callback(response.data.reserves);
                            })
                            .catch(error => {

                            });
                        }
                    }
                ]
            },
        }
    }
</script>

<style >
    @import '~fullcalendar/dist/fullcalendar.css';
</style>